.header {
  height: 11.2rem;
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid $gray-secondary;

  @media screen and (max-width: $lg) {
    z-index: 3;
  }

  a {
    color: $white;
  }

  &--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // TODO: DELETE HARDCODED LINK AND ADD IT FROM THE DASHBOARD
    // check header.php file
    .left-nav {
    }

    .middle-nav {
      transition: all 0.3s ease-in;

      @media screen and (max-width: $lg) {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 11.2rem;
        background-color: salmon;
        transform: translateX(-100%);
      }

      ul {
        display: flex;
        align-items: center;
        gap: 4.8rem;

        @media screen and (max-width: $lg) {
          flex-direction: column;
          align-items: start;
          gap: 0;
          padding: 0;
        }

        li {
          position: relative;
          padding: 4rem 0;

          @media screen and (max-width: $lg) {
            padding: 3rem 2rem;
            border-bottom: 2px solid $white;
            width: 100%;
          }

          a {
            font-size: 18px;
            line-height: 32px;
          }

          &::after {
            content: "";
            position: absolute;
            width: 7.6rem;
            height: 8px;
            background-color: $white;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0px;
            display: none;
          }

          &.current-menu-item {
            &::after {
              display: block;

              @media screen and (max-width: $lg) {
                padding: 2rem 0;
                display: none;
              }
            }

            a {
              font-weight: 500;
            }
          }
        }
      }
    }

    .right-nav {
      &.desktop {
        @media (max-width: $lg) {
          display: none;
        }
      }

      &.mobile {
        display: none;

        @media screen and (max-width: $lg) {
          display: inline-block;
          margin: 3rem 2rem 0;
        }
      }
    }

    .hamburger-menu {
      cursor: pointer;
      display: none;

      @media (max-width: $lg) {
        display: block;
      }

      .closed {
        display: none;
      }
    }
  }
}

// TODO: CHECK THIS - !important removed
// TODO: NEW file for hamburger menu
body {
  &.menu-open {
    .middle-nav {
      transform: translateX(0);
    }

    .hamburger-menu {
      .open {
        display: none;
      }

      .closed {
        display: block;
      }
    }
  }
}
