// Arrow function
@mixin arrowAfter() {
  &:after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 2px solid $text;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    position: absolute;
    top: 35px;
    right: 35px;
    transition: all ease-in-out 280ms;

    @media only screen and (min-width: $lg) {
      top: 12px;
      right: 0;
    }
  }
}
