// Section
.section {
  // TODO: Make a new container!

  & > div {
    position: relative;
    z-index: 2;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.full-height-mobile {
    @media only screen and (max-width: $sm) {
      min-height: 100svh;
    }
  }

  &.full-height-tablet {
    @media only screen and (min-width: $sm) and (max-width: $lg) {
      min-height: 100vh;
    }
  }

  &.full-height-desktop {
    @media only screen and (min-width: $lg) {
      min-height: 100vh;
    }
  }
}
