.subheading {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1;
    color: $gray-primary;
    margin-bottom: 4px;

    @media (max-width:$lg) {
        font-size: 2.4rem;
    }
}

.right-nav {
    padding: 8px 1.6rem 8px 8px;
    background-color: $dark-background;
    border-radius: 1.2rem;
    display: flex;
    gap: 1.6rem;
    align-items: center;
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 500;
    color: $white;
}