// Defaults
html,
body.startertheme {
  min-height: 100vh;
  background: $background;
  color: $white;
  font-family: $text-font;
  font-size: $font-size;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  background-image: url("../../images/mountain.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  &.freez {
    overflow: hidden;
  }

  &.admin-bar {
    .navigation-section {
      top: 32px;
    }
  }
}

html {
  font-size: 62.5%; // 10/16*100
}

hr {
  border-color: $gray-500;
}

a {
  text-decoration: none !important;
}
ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

b,
strong {
  font-weight: $font-weight-bold;
}

// Container padding on mobile devices
@media only screen and (min-width: $xs) {
  .container {
    padding-right: 22px;
    padding-left: 22px;
  }
}

.z-index {
  z-index: 5;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background: $background;
}

::-webkit-scrollbar-thumb {
  background: $border;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}
