// RESET - DEFAULT VALUES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body.fruskogorac {
  min-height: 100vh;
  background: $background;
  color: $white;
  font-family: $text-font;
  font-size: $font-size;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  background-image: url("../../images/mountain.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  &.admin-bar {
    .navigation-section {
      top: 32px;
    }
  }
}

ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background: $background;
}

::-webkit-scrollbar-thumb {
  background: $border;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}
