// Static theme colors
$static-white: #fff;
$static-black: #222;
$static-light-title: #333;
$static-light-text: #36334a;
$static-dark-text: #e2e2e2ff;
$static-dark-title: #fefefe;

// Theme colors
$primary: #447821;
$primary-hover: #375c1e;
$secondary: #16f1ff;
$secondary-hover: #ffbf0e;
$gray-primary: rgba(255, 255, 255, 0.6);
$gray-secondary: rgba(255, 255, 255, 0.5);
$dark-background: rgba(0, 0, 0, 0.4);
$neutral-blue: #11327b;
$primary-green: #2aef84;
$background-color: #020e20;
$gold: #f4ad17;
$success: #3acc6c;
$danger: #dd5555;
$info: #3994df;

// Grayscales
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// Basics
$light: #f9f9f9;
$background: $background-color;
$title: #333;
$text: #36334a;
$border: #e9ecef;
$gray: #343a40;

// Other values
$shadow-opacity: 0.045;
