h1 {
  font-size: 15.6rem;
  line-height: 10rem;
  color: $white;
}

h2 {
  font-size: 7.2rem;
  line-height: 8.4rem;

  @media (max-width: $lg) {
    font-size: 4rem;
    line-height: 5.6rem;
  }

  @media (max-width: $md) {
    font-size: 3.2rem;
    line-height: normal;
  }
}

h3 {
}

h4 {
}
