// Headings
@mixin heading() {
  font-family: $title-font;
  color: $title;
  line-height: $title-line-height;
  letter-spacing: $title-letter-spacing;
  font-weight: $font-weight-bold;

  a {
    color: $title;
    text-decoration: none;
  }
}

body {
  h1,
  .h1 {
    font-size: 15.6rem;
    line-height: 10rem;
    color: $white;
  }

  h2,
  .h2 {
    font-size: 15.6rem;
    line-height: 10rem;
  }

  h3,
  .h3 {
  }

  h4,
  .h4 {
  }
}
